html
    head
        title= "Les villes"
        meta(charset='UTF-8')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    body 
        div(class='col-md-6')
            h1= title
            table(class="table table-striped table-bordered text-center table-hover")
                tr
                    th(class='bg-primary text-center')= 'Identifiant'
                    th(class='bg-primary text-center')= 'Ville'
                
                each val in data
                    tr
                        td= val.id
                        td= val.name
            